{% set network = _Network.getNetworkData() %}
{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% set blogInfo = _Blog.getBlog() %}
{% set mediaCoverImage = ''%}
{% set mediaThumbImage = ''%}
{%if blogInfo.media['cover']['id'] is defined and blogInfo.media['cover']['id'] is not empty%}
    {% set mediaCoverImage = _Media.getMediaUrl(blogInfo.media['cover'], 1900, 1900, {crop: 'limit'}) %}  
{% endif%}
{%if blogInfo.media['thumb']['id'] is defined and blogInfo.media['thumb']['id'] is not empty%}
    {% set mediaThumbImage = _Media.getMediaUrl(blogInfo.media['thumb'], 600, 600, {crop:"thumb", gravity:"face", type: "user"}) %}  
{% endif%}
{{this.registerJs("HomeController.listing();")}}
{% set limit = 9 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

<div class="page__body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page__body--wrapper">
                    <div class="blog__wrapper image-covered" {% if mediaCoverImage is not empty %}style="background-image: url('{{mediaCoverImage}}')"{% endif %}>
                        <div class="blog__wrapper__userInfo">
                            <div class="blog__wrapper__userInfo--title">{{blogInfo.title}}</div>
                            <div class="blog__wrapper__userInfo--description">{{blogInfo.shortDescription}}</div>
                            <div class="blog__wrapper__userInfo--social">
                                {% if blogInfo.settings.social['linkedin'] is not empty%}
                                    <a href="{{blogInfo.settings.social['linkedin']}}" class="fa fa-linkedin-square" target="_blank"></a>
                                {% endif %}
                                
                                {% if blogInfo.settings.social['twitter'] is not empty%}
                                    <a href="{{blogInfo.settings.social['twitter']}}" class="fa fa-twitter" target="_blank"></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="blog__wrapper__userDetail">
                            <div class="blog__wrapper__userDetail__profile">
                                <div class="blog__wrapper__userDetail__profile--image image-covered" style="background-image: url({{mediaThumbImage}})"></div>
                                <div class="blog__wrapper__userDetail__profile--content">
                                    <div class="blog__wrapper__userDetail__profile--content--title">{{blogInfo.title | raw}}</div>
                                    <div class="blog__wrapper__userDetail__profile--content--des">
                                        <span>{{blogInfo.additionalInfo.core_experties}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__wrapper__userDetail--content">
                                <p>{{blogInfo.additionalInfo.biography}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="row ajaxArticles" data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}" data-offset="{{limit}}">
                        {% for i in 0..8 %}
                            {% if articles[i] is defined %}
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': i+1, class: 'card__view col-12 card__view-full'}) | raw}}
                            {% endif %}
                        {% endfor %}                        
                    </div>
                </div>
                {% if articles|length >= limit %}
                    <div class="text-center my-3 loadMoreArticles" data-class="card__view col-12 card__view-full">
                        <button class="button button__icon--left button--orange button--radius"><i class="fa fa-spin"></i>Load more</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>